
/* body {
    background: #112 url(//images.weserv.nl/?url=i.imgur.com/6QJjYMe.jpg)  center no-repeat;
    background-size:cover;
    height: 100vh;
} */

.container-for-all {
    margin-left: 10rem;
    margin-right: 10rem;
}
.scores-container {
    display: flex;
    gap: 5rem;
    padding: 2rem 10rem;
    font-size:30px;
}

.score-container p {
    margin: 0;
}

.score-numbers {
    display: inline-flex;
    flex-direction: column;
    overflow: hidden;
    height: 6rem;
}

.score {
    border-radius: 6px;
}

.quiz-container {
    width: 800px;
    margin: 0 auto;
    margin-top: 1rem;
}
